SECRET_KEY=django-insecure-<secret_key>
ALLOWED_HOSTS=<host1>, <host2>, <host3>
DEBUG=<bool>
POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<db_name>
DB_HOST=<db_hostname>
DB_PORT=<port>
